extends ../layout/main

block title
	| Mitler

block content
	include ../sections/services.pug
	include ../sections/kingSalon.pug
	include ../sections/call.pug
	include ../sections/review.pug
	include ../sections/partner.pug
	
