extends ../layout/main

block title
	| Unicorn

block content
	include ../sections/top-banner.pug
	include ../sections/kingSalon.pug
	include ../sections/call.pug
	include ../sections/review.pug
	include ../sections/partner.pug
	
