section.advantages.gray-bg
    .container
        +advantagesItems('clock','An Wow Feature')
        +advantagesItems('vector','A Beautiful Feature')
        +advantagesItems('land_working','An Amazing Feature')