section.articles-slider.gray-bg
    .container
        .articles-slider__prev
        .articles-slider__next
        .js-articles-slider
            .articles-slider__item
                span.articles-slider__title Another Day In Paradise
                span.articles-slider__info Travel / 21st March, 2016
            .articles-slider__item
                span.articles-slider__title Jimmy’s New Book on Aliens
                span.articles-slider__info Personal / 21st March, 2016
            .articles-slider__item
                span.articles-slider__title Sarah’s New House
                span.articles-slider__info Personal / 21st March, 2016
            .articles-slider__item
                span.articles-slider__title Jimmy’s New Book on Aliens
                span.articles-slider__info Personal / 21st March, 2016
// End of section Articles-slider