section.articles
    .container
        .article-line
            .article-item
                .article-text
                    span.article-info Travel / 21st March, 2016 
                    span.article-title.wow.fadeInUp A New Product Is Coming 
                    p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
            .article-item
                img(src="img/article/article1.jpg", alt="photo").article-img.wow.zoomIn
        .article-line
            .article-item
                img(src="img/article/article2.jpg", alt="Xbox Controller").article-img.wow.zoomIn
            .article-item
                .article-text
                    span.article-info Gadget / 3rd March, 2016 
                    span.article-title.wow.fadeInUp Jimmy’s New Xbox Controller 
                    p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
        .article-line
            .article-item
                .article-text
                    span.article-info Travel / 21st March, 2016 
                    span.article-title.wow.fadeInUp A New Product Is Coming 
                    p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
            .article-item
                img(src="img/article/article3.jpg", alt="breakfest").article-img.wow.zoomIn
// End of section Articles