section.clients.gray-bg
    .container
        span.g-section-title Clients
        .clients-slider
            .clients-slider_next
            .clients-slider_prev
            ul.js-clients__slider
                +sliderList('client2')
                +sliderList('client3')
                +sliderList('client4')
                +sliderList('client5')
                +sliderList('client6')
                +sliderList('client1')
                +sliderList('client2')
                +sliderList('client3')
                +sliderList('client4')
                +sliderList('client5')
                +sliderList('client6')
// End of section Clients