section.portfolio
    span.g-section-title Portfolio & Screenshots
    p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was
        | used by everyone, and so the door to this room was often kept closed in the
    ul.portfolio-filter
        li(data-filter="art").portfolio-filter__item Art
        li(data-filter="mystery").portfolio-filter__item Mystery
        li(data-filter="illusion").portfolio-filter__item Illusion
        li(data-filter="travel").portfolio-filter__item Travel
        li(data-filter="painting").portfolio-filter__item Painting
        li(data-filter="all").portfolio-filter__item.portfolio-filter__item--all All
    .js-portfolio-slider
    .portfolio-slider
        +portfolioItem('temp','art')
        +portfolioItem('temp-1','mystery')
        +portfolioItem('temp-2','illusion')
        +portfolioItem('temp','travel')
        +portfolioItem('temp-1','painting')
        +portfolioItem('temp','art')
        +portfolioItem('temp-1','mystery')
        +portfolioItem('temp-2','illusion')
        +portfolioItem('temp','travel')
        +portfolioItem('temp-1','painting')
        +portfolioItem('temp','art')
        +portfolioItem('temp-1','mystery')
        +portfolioItem('temp-2','illusion')
        +portfolioItem('temp','travel')
        +portfolioItem('temp-1','painting')
        +portfolioItem('temp','art')
        +portfolioItem('temp-1','mystery')
        +portfolioItem('temp-2','illusion')
        +portfolioItem('temp','travel')
        +portfolioItem('temp-1','painting')
// End of section Portfolio