section.team
    .container
        span.g-section-title Team Members
        p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was
            | used by everyone, and so the door to this room was often kept closed in the  
        .team-item__wrap
            +teamItem('lead','James Philly','Lead Developer')
            +teamItem('model','Cactus Jack','3D Model Designer')
            +teamItem('master','Jack Sparrow','Master of All Trade')
            +teamItem('manager','Yaga Squarehead','Manages Money')
// End of section Team