section.twitter
    .container
        .twitter-pic
            img(src="img/twitter-photo.png", alt="photo")
        p.quote-text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every
            | minute with love, grace & gratitude.
        span.quote-author 
            a(href="#") @loveless