footer
    .footer
        .footer-top
            .footer-top__left
                .logo.footer-logo
                    span Unicorn
                p.footer-text ne morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
                form(action="#").footer-form
                    .footer-form__line
                        input(type="text", name="email" placeholder="EMAIL").footer-form__input
                        input(type="text", name="subject" placeholder="SUBJECT").footer-form__input
                    .footer-form__line
                        textarea(name="message", placeholder="MESSAGE").footer-form__text
                    .footer-form__btn
                        input(type="submit", value="send")
            .footer-top__right
                .footer-form__menu
                    span.footer-nav__title Links
                    ul.footer-nav__list
                        li: a(href="#") Home
                        li: a(href="#") About
                        li: a(href="#") Services
                        li: a(href="#") Menu
                        li: a(href="#") Restaurants
                        li: a(href="#") Work Hours
                        li: a(href="#") Call Hours
                .footer-form__menu
                    span.footer-nav__title Friends
                    ul.footer-nav__list
                        li: a(href="#") Home
                        li: a(href="#") About
                        li: a(href="#") Services
                        li: a(href="#") Menu
                        li: a(href="#") Restaurants
                .footer-form__menu
                    span.footer-nav__title Social
                    ul.footer-nav__list
                        li: a(href="#") Facebook
                        li: a(href="#") Twitter
                        li: a(href="#") Github
                        li: a(href="#") Pinterest
                        li: a(href="#") Google Plus
                        li: a(href="#") Dribbble
                        li: a(href="#") Flickr
                        li: a(href="#") Others
        .footer-bottom
            .footer-disclaimer
                span One morning, when Gregor Samsa woke from troubled dreams, he found 
                span © 2016 Your Awesome Company
            .footer-info-menu
                ul.footer-info-menu__list
                    li: a(href="#") TERMS
                    li: a(href="#") Privacy Policy
                    li: a(href="#") Contact
                    li: a(href="#") Job
