.g-btn
  position: relative
  display: inline-block
  width: 100%
  max-width: 270px
  height: 50px
  line-height: 50px
  // border: 2px solid $borderColor
  color: $mainColor
  font-size: 18px
  font-family: $boldFont
  text-align: center
  cursor: pointer
  svg
    height: 50px
    left: 0
    position: absolute
    top: 0
    width: 100%
    rect
      fill: none
      stroke: #232323
      stroke-width: 2
      stroke-dasharray: 600, 0
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)
  &:hover
    svg
      rect
        stroke-width: 5
        stroke-dasharray: 50,600
        stroke-dashoffset: 220
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)
