@import "fonts"
@import "libs"
@import "vars"

// @mixin opacity($opacity)
// 	opacity: $opacity / 100
// 	filter: alpha(opacity=$opacity)
//
// .preloader
// 		position: fixed
// 		left: 0
// 		right: 0
// 		top: 0
// 		bottom: 0
// 		z-index: 100500
// 		background-color: grey
// 		.pulse
// 			position: relative
// 			left: 50%
// 			top: 50vh
// 			margin:
// 				left: -40px
// 				top: -40px
// 			&::after,&::before
// 				content: ''
// 				border: 5px solid #323232
// 				width: 80px
// 				height: 80px
// 				border-radius: 500px
// 				position: absolute
// 			&::before
// 				animation: pulse-outer .8s ease-in infinite
// 			&::after
// 				animation: pulse-inner .8s linear infinite
//
//
// @keyframes pulse-outer
// 	0%
// 		@include opacity(100)
// 	50%
// 		@include opacity(50)
// 	100%
// 		@include opacity(0)
//
// @keyframes pulse-inner
// 	0%
// 		@include opacity(0)
// 		transform: scale(0)
// 	100%
// 		@include opacity(100)
// 		transform: scale(1)

*
	box-sizing: border-box
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*:after,
*:before
    box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	margin: 0
  padding: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $mainFont
	color: $mainColor
	overflow-x: hidden
	opacity: 1
	.container
		width: 100%
		max-width: 1190px
		margin: 0 auto
		padding: 0 10px

li,
ul
	margin: 0
	padding: 0
	list-style-type: none

h1,h2,h3,p
	margin: 0
	padding: 0
a
	text-decoration: none
	color: #000
	&:hover
		color: inherit
		text-decoration: none
section
	position: relative
input
	display: inline-block
	outline: none

@import "common"

.img-responsive
	display: block
	max-width: 100%
	height: auto

// Header
header
	height: 100vh
	min-height: 700px
	background: url('../img/top-banner-bg.jpg') center top no-repeat
	background-size: cover
	.container
		position: relative
.header
	max-width: 1170px
	padding-top: 50px
	overflow: hidden
.header-top
	display: flex
	justify-content: space-between
	.header-logo
		font-family: $boldFont
		font-size: 18px
		text-transform: uppercase

.header-nav__list
	li
		display: inline-block
		margin-right: 12px
		&:last-child
			margin-right: 0
	a
		text-decoration: none
		text-transform: uppercase
		font-family: $boldFont
		font-size: 16px

.header-composition
	position: absolute
	right: 10px
	top: 40%
	top: 350px
	width: 100%
	max-width: 570px
	text-align: right
	&__title
		position: relative
		display: block
		margin-bottom: 55px
		font-size: 72px
		line-height: 1
		text-transform: uppercase
		font-family: $boldFont
		&::after
			content: ''
			position: absolute
			right: 0
			bottom: -22px
			display: block
			width: 140px
			height: 4px
			background-color: #000
	&__text
		margin-bottom: 60px
		font-size: 18px
		line-height: 34px

@import "media" // Всегда в конце
